/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 *{
   padding: 0;
   margin: 0;
 }
 header{
   width: 100%;
   height: 80px;
   line-height: 80px;
   background-color: gray;
 }
 ul {
   list-style: none;
 }
 header li{
   padding-left: 20px;
   float: left;
 }
 .notice{
   background-color: #339900;
 }
 .alert{
   background-color: #FF0000;
 }
 #map {
   height: 600px;
   width: 800px;
 }
 .inline-block{
   display: inline-block;
   vertical-align: top;
 }
 .appeal-index{
   margin-left: 30px;
   display: inline-block;
 }
 .form{
   margin-left: 30px;
   display: inline-block;
 }
 #profile_image{
   text-align: center;
   font-size: 13px;
 }
 .user-show-top{
   width: 100%;
 }
 .user-show-profile_image{
   width: 20%;
   text-align: center;
   margin-top: 50px;
 }
 .user-show-info{
   width: 40%;
   text-align: center;
 }
 .user-show-name{
   font-size: 70px;
 }
 .user-show-username{
   font-size: 30px;
 }
 .user-show-middle{
   width: 70%;
   margin-top: 30px;
 }
 .user-show-info-bottom-flame{
   font-size: 0;
 }
 .user-show-info-bottom{
   width: 50%;
   height: 100px;
   display: inline-block;
   font-size: 20px;
   padding-top: 40px;
 }
 .user-show-map{
   margin: 0 auto;
 }
 .user-show-table{
   margin: 30px auto;
 }
 .td-padding td{
   padding: 15px;
 }
.user-index-table{
  text-align: center;
}
.follow-button{
  width: 100px;
}
